.reveal h1,
.reveal h3 {
  &.title-first {
    text-align: left;
    text-transform: capitalize;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $color-linear-gradient1), color-stop(0.3, $color-linear-gradient2), color-stop(0.75, $color-linear-gradient3), color-stop(1, $color-linear-gradient4) );
    background-image: gradient( linear, left top, right top, color-stop(0, $color-linear-gradient1), color-stop(0.3, $color-linear-gradient2), color-stop(0.75, $color-linear-gradient3), color-stop(1, $color-linear-gradient4) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &.subtitle {
    text-align: left;
    text-transform: lowercase;
    color: $color-text;
  }
  &.title-slides {
    text-transform: capitalize;
    color: $color-text;
    font-size: 55px;
    margin-bottom: 12px;
    &.subtitle {
      text-align: left;
      font-size: 30px;
      margin-bottom: 0;
    }
  }
}

.reveal .block {
  padding: 15px;
  margin-bottom: 12px;
  background-color: $color-white;
  border: 1px solid $color-border-light;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.reveal blockquote.team-desc {
  width: 100%;
  margin: 0;
  text-align: left;
  box-shadow: none;
  font-size: 20px;
}

.reveal img.fragment {
  border-radius: 30px;
}

.reveal table th.subtitle {
  font-style: italic;
  font-size: 35px;
  color: $color-linear-gradient3;
  &.feature {
    color: $color-text;
    font-style: normal;
    font-size: 28px;
  }
}

.reveal span.text {
  color: $color-text;
  font-size: 20px;
}

.reveal th.text {
  color: $color-text;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.reveal h4.subtitle {
  color: $color-linear-gradient3;
  text-transform: none;
  font-size: 35px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.reveal ul.item-list {
  color: $color-text;
  font-size: 28px;
  text-align: left;
  background-color: $color-white;
  border-radius: 20px;
  li {
    padding: 15px;
  }
}

.reveal img.image-commits {
  border-radius: 20px;
  margin-top: 50px;
}

.reveal a.title {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $color-linear-gradient1), color-stop(0.3, $color-linear-gradient2), color-stop(0.75, $color-linear-gradient3), color-stop(1, $color-linear-gradient4) );
  background-image: gradient( linear, left top, right top, color-stop(0, $color-linear-gradient1), color-stop(0.3, $color-linear-gradient2), color-stop(0.75, $color-linear-gradient3), color-stop(1, $color-linear-gradient4) );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}