//Colors

$color-linear-gradient1: rgba(255, 100, 162, 0.667);
$color-linear-gradient2: rgba(255, 134, 102, 0.8);
$color-linear-gradient3: #e03694;
$color-linear-gradient4: #f47253;

$color-text: #666;
$color-border-light: rgba(194, 190, 190);
$color-white: #fff;
